body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.headerplus {
    display: flex;
    padding-left: 20%;
    background-color: #ccfcfe;
    align-items: center;
    padding: 2%;
    padding-bottom: 2%;
}

.headerplusimage {
    display: flex;
    flex-direction: row;
    width: 4%;
    margin-left: 20%;
}
.headerplusimage img {
    width: 100%;
    padding-right: 20%;
}

#contact {
    margin-bottom: 2%;
}

header {
    background-color: #9a98fb;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2%;
    align-items: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.logo_header {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 42%;
}

.logo_header img {
    height: 100%;
    width: 100%;
}
header h3 {
    width: 70%;
    border-top:white solid 1px;
    margin: 0;
    padding: 5px 0;
    font-size: x-small;
}

.coucou_les_congolais {
    background-color: #ccfcfe;
    width: 100%;;
    border-bottom: solid black 1px;
}
.imagesla {
    width: 60%;
}
.imagesla img {
    width: 100%;
}
.inactive {
    display: none;
}
.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200%;
}
.activites {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 100%;
    margin-top: 8%;
}
.activites_img {
    display: flex;
    background-color: #9a98fb;
    flex-direction: row;
    height: 27%;
    padding: 2%;
}
.activites_img h1 {
    color: white;
    font-size: medium;
    font-weight: bolder;
    margin-left: 2%;
}
.more_info {
    color: red;
}
.destination {
    align-items: center;
    justify-content: center;
    width: 80%;
}
.flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flag img {
    width: 100%;
    border: black solid 1px;
}
.titre {
    color: black;
    border-bottom: solid black 1px;
    width: 100%;
}

@media only screen and (min-device-width : 400px){
    html {
        height: 100%;
        width: 100%;
    }
}
