body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headerplus {
    display: flex;
    padding-left: 20%;
    background-color: #ccfcfe;
    align-items: center;
    height: 5%;
    padding: 2%;
    padding-bottom: 2%;
}

.headerplusimage {
    display: flex;
    flex-direction: row;
    width: 5%;
    margin-left: 20%;
}
.headerplusimage img {
    width: 100%;
    padding-right: 20%;
}

#contact {
    margin-bottom: 2%;
}

header {
    background-color: #9a98fb;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    padding-bottom: 2%;
    align-items: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.logo_header {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 42%;
}

.logo_header img {
    height: 100%;
    width: 100%;
}
header h3 {
    width: 70%;
    border-top:white solid 1px;
    margin: 0;
    padding: 5px 0;
    font-size: small;
}
.point{
    display: flex;
    flex-direction: row;
    margin-left: -20%;
}
.point img {
    margin-left: 10%;
}
.coucou_les_congolais {
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    background-color: #ccfcfe;
    width: 100%;;
    border-bottom: solid black 1px;
    align-items: center;
    justify-content: center;
}
#back {
    background: none;
    border: 0;
    position: absolute;
    margin-top: 9%;
    left: -5;
    width: 12%;
}
#right {
    transform: scaleX(-1);
    background: none;
    border: 0;
    position: absolute;
    margin-top: 9%;
    margin-left: 58%;
    width: 12%;
}
.imagesla {
    width: 70%;
}
.imagelala {
    width: 80%;;
}
.imagesla img {
    width: 100%;
}
.inactive {
    display: none;
}
.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200%;
}
.activites {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 100%;
    margin-top: 8%;
}
.activites_img {
    display: flex;
    background-color: #9a98fb;
    flex-direction: row;
    height: 27%;
    padding: 2%;
}
.activites_img h1 {
    color: white;
    font-size: medium;
    font-weight: bolder;
    margin-left: 2%;
}
.more_info {
    color: red;
}
.destination {
    align-items: center;
    justify-content: center;
    width: 80%;
}
.flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flag img {
    width: 100%;
    border: black solid 1px;
}
.titre {
    color: black;
    border-bottom: solid black 1px;
    width: 100%;
}
.prefooter {
    height: 400%;
    width: 70%;
    background-color: #ccfcfe;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
.velo {
    display: flex;
    flex-direction: row;
}
.boussole {
    display: flex;
    flex-direction: row;
}
.carte {
    display: flex;
    flex-direction: row;
}
.whyus p {
    margin-left: 5%;
}
.howtotravel {
    margin-bottom: 15%;
}
.howtotravel button {
    background-color: #82ad6b;
    color: white;
    height: 30px;
    border-radius: 10%;
    border: 1px, solid black;
}
footer {
    background-color: #9a98fb;
    width: 100%;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.rapide {
    display: flex;
    width: 60%;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 5%;
    font-weight: bolder;
}
.rapide p {
    margin-left: 3%;
    width: 100%;
}
.© {
    margin-left: 5%;
    color: #837585;
}
@media only screen and (min-device-width : 400px){
    html {
        height: 100%;
        width: 100%;
    }
}
